<div class="ui stacked segment ssq-area">
		<div class="ui vertical icon menu subnav">
		  <a class="item">常规选号</a>
		  <a class="red item active">胆拖选号</a>
		  <a class="item">单式上传</a>
		  <a class="item">粘贴选号</a>
		  <a class="item">机选投注</a>
		  <a class="item">购彩套餐</a>
		</div>
		<aside class="panel">
			<b>上期开奖：<b class="red">01 04 11 15 21 33</b> + <b class="blue">06</b></b>
			<article class="select bet-area">
				<ul class="redselect clearfix">
					{{#red}}
					<li>
						<button class="circular ui icon button">{{num}}</button>
						<em class="yl">8</em>
					</li>
					{{/red}}
					<li class="set">
						<select name="" id="red_select">
						{{#red_select}}
							<option value="{{this}}">{{this}}</option>
						{{/red_select}}
						</select>
					</li>
					<li class="clear">
						<div class="mini ui button"> 机选 </div>
					</li>
					<li class="clear">
						<div class="mini ui button"> 清空 </div>
					</li>
				</ul>
				<ul class="blueselect clearfix">
					{{#blue}}
						<li>
							<button class="circular ui icon button">{{num}}</button>
							<em class="yl">9</em>
						</li>
					{{/blue}}
					<li class="set">
						<select name="" id="blue_select">
							{{#blue_select}}
								<option value="{{this}}">{{this}}</option>
							{{/blue_select}}
						</select>
					</li>
					<li class="clear">
						<div class="mini ui button"> 机选 </div>
					</li>
					<li class="clear">
						<div class="mini ui button"> 清空 </div>
					</li>
				</ul>
				<p class="count">
					您选了 <b class="red">6</b> 个红球，<b class="blue">3</b> 个篮球，共 <b class="red">3</b> 注，<b class="red">6</b> 元
				</p>
				<div class="count">
					<p class="ui tiny button">确认选号</p>
				</div>
				<div class="ui link list code_list">
				  <a class="item">[单式] <b class="red">01 03 04 05 23 31 + 06</b>[1注，2元]  <span href="#" class="del">删除</span></a>
				</div>
				<p class="result">您总共选择了 <b class="red">6</b> 注，<b class="red">12</b> 元</p>
				<div class="ui tiny buttons">
				  <div class="ui red button ownbuy">我要自购</div>
				  <div class="or"></div>
				  <div class="ui red button coopbuy">发起合买</div>
				  <div class="or"></div>
				  <div class="ui red button tracebuy">我要追号</div>
				</div>
			</article>
			<div class="ui raised segment reporter">
				<div class="ui red ribbon label" style="width: 173px;left: -1.2rem;">投注情报站</div>
				<p>奖池：<b class="red">1</b>亿<b class="red">9013</b>万<b class="red">2569</b>元</p>
				<dl>
					<dt><p>统计：第201448期</p></dt>
					<dd><p>一等：<b class="red">23</b>注</p></dd>
					<dd><p>每注：<b class="red">500</b>,<b class="red">2347</b>元</p></dd>
					<dd><p>二等：<b class="red">567</b>注</p></dd>
					<dd><p>每注：<b class="red">500</b>,<b class="red">2347</b>元</p></dd>
				</dl>
				<p>红球热码：<b class="red">01 04 11 22</b></p>
				<p>红球推荐：<b class="red">01 04 11 22</b></p>
				<p>蓝球热码：<b class="blue">03 04 11 12</b></p>
				<p>蓝球推荐：<b class="blue">07 09 11 13</b></p>
				<dl>
					<dt><p>论坛热帖：</p></dt>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
					<dd><a href="#" class="hot">双色球杀号开始</a></dd>
				</dl>
			</div>
		</aside>
</div>
