<div class="ui link list code_list">
	{{#each code}}
	<a class="item"><b class="red">{{red}}</b> + <b class="blue">{{blue}}</b> <span class="del"></span></a>
	{{/each}}
</div>
<div class="ui vertical buttons random_list">
  <div class="ui button">机选1注</div>
  <div class="ui button">机选5注</div>
  <div class="ui button">清空号码</div>
  <div class="ui button reback">返回选号</div>
</div>
<div class="ui tabular menu">
  <a class="active item">
	代购
  </a>
  <a class="item">
	发起合买
  </a>
  <a class="item">
	追号
  </a>
</div>
<div class="buy_tab">
	<div class="ui form item">
		<div class="inline field">
			<label>购买倍数</label>
			<input type="number" placeholder="至少1倍" min="1" value="1">
		</div>
		<div class="inline field">
			<label>购买注数</label>
			<label><b class="red">{{count}}</b> 注</label>
		</div>
		<div class="inline field">
			<label>购买金额</label>
			<label><b class="red">{{money}}</b> 元</label>
		</div>
		<div class="ui primary button ownbuy">立即支付</div>
	</div>
	<div class="ui form item none">
		<div class="inline field">
			<label>购买倍数</label>
			<input type="text" placeholder="至少1倍">
		</div>
		<div class="inline field">
			<label>方案金额</label>
			<label><b class="red">{{count}}</b> 注，<b class="red">{{money}}</b> 元</label>
		</div>
		<div class="inline field">
			<label>盈利提成</label>
			<label class="ui blue label">无</label>
			<label class="ui label">1%</label>
			<label class="ui label">2%</label>
			<label class="ui label">3%</label>
			<label class="ui label">4%</label>
			<label class="ui label">5%</label>
			<label class="ui label">6%</label>
			<label class="ui label">7%</label>
			<label class="ui label">8%</label>
			<label class="ui label">9%</label>
			<label class="ui label">10%</label>
		</div>
		<div class="inline field">
			<label>我要认购</label>
			<input type="text" placeholder="至少5%">
			<label>已认购6%</label>
		</div>
		<div class="inline field">
			<label>我要保底</label>
			<input type="text" placeholder="">
			<label>最多可保底12元</label>
		</div>
		<div class="inline field">
			<label>是否公开</label>
			<div class="ui selection dropdown">
			  <input type="hidden" name="gender">
			  <div class="default text">公开</div>
			  <i class="dropdown icon"></i>
			  <div class="menu">
				<div class="item" data-value="0">公开</div>
				<div class="item" data-value="1">销售截止后公开</div>
				<div class="item" data-value="3">仅对认购用户公开</div>
			  </div>
			</div>
		</div>
		<div class="inline field">
			<label>方案标题</label>
			<input type="text" placeholder="双色球第20130404期">
		</div>
		<div class="inline field">
			<label>合买宣言</label>
			<input type="text" placeholder="这个家伙很懒，只想中大奖">
		</div>
		<div class="ui primary button">立即支付</div>
	</div>
	<!-- hemai end -->
	<div class="ui form item none">
		<div class="inline field">
			<label>购买倍数</label>
		</div>
		<div class="inline field">
			<label>追号期数</label>
			<input type="text" placeholder="至少1期" value="10">
			<label>期</label>
		</div>
		<div class="inline field">
			<label>投注金额</label>
			<label><b class="red">{{money}}</b> 元</label>
		</div>
		<div class="inline field">
			<input type="checkbox" name="" id=""/>
			<label>当中奖金额></label>
			<input type="text" value="5000">
			<label>元时，停止追号</label>
		</div>
		
		<div class="ui primary button">立即支付</div>
	</div>
	<!-- zhuihao end -->
</div>